*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height:100%;
    width: 100%;
    background-color: deeppink;
    background-image: url(https://i.pinimg.com/736x/05/f3/11/05f311d010eb473c544629b73ec952e7.jpg);
}
#box{
    height: 450px;
    width: 700px;
    background-color: hotpink;
    margin: 100px 300px;  
    border: 5px solid deeppink;
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    position: relative;
}
#insta{
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 14px;
    color: white;
}

#insta a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#insta a:hover{
    text-decoration: underline;
    color: #ffe6f0;
}

h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 300;
    color: white;
}

button{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: hotpink;
    border: 3px solid rgb(219, 97, 138);
}

button:hover{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 25px;
    background-color: rgb(219, 97, 138);
    color: white;
}
#no{
    position: absolute;
    transition: 0.2s ease;
}
#message{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: white;
    background: rgba(0,0,0,0.3);
    padding: 8px 15px;
    border-radius: 20px;
    opacity: 0;
    transition: 0.3s ease;
}

